body {
  background-color: #f5f3ff;
  margin: 0;
  padding: 0;
}
 
 #form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 46%;
    align-items: center;
  justify-content: center;
  }

  #damidiv {
    position: absolute;
    bottom: 1%; 
    font-size: medium;
    font-family:'Courier';
    background-color: #f5f3ff;
  }

  #bbg{
    background-image: url(misc/Readme.PNG);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
 
 #but {
  margin-left: auto;
  margin-right: auto;
  width: 14%;
  height: 10%;
  border-radius:19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #a4a3ab;
  background: url(misc/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}

  #content0 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
    font-family:'Courier';
  }
 
  #content1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: large;
    font-family:'Courier';
    padding-top: 10%;
    padding-bottom: 2%;
  }
  #content2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: medium;
    font-family:'Courier';
    margin: 0;
  }

  input[type=text] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  input[type=text]:focus {
    border: 3px solid #555;
  }  
  